body {
    background-image: url(../kepek/fl\ studio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 45%;
}

.button {
    background: rgb(252, 158, 36);
    border-radius: 999px;
    box-shadow: rgb(0, 0, 0) 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.4rem;
    opacity: 1;
    padding: .3rem 1.5rem;
    display: inline-block;
    word-break: break-word;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
    text-decoration: none;
    margin: .2rem .2rem .2rem .2rem;
}

.button:hover {
    background: rgb(28, 165, 47);
    box-shadow: rgb(48, 47, 47) 0 10px 20px -10px;
}


.vissza {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 4.5rem;
}

h3 {
    font-weight: bolder;
    text-align: center;
}

p, li {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.4;
}

p {
    text-indent: 1rem;
}

#tartalom {
    background-color: #ffffff88;   
}

hr {
    border: .2rem solid gray;
}

.img {
    max-width: 25%;
    float: right;
    margin: .5rem;
}

#foot {
    background-color: gray;
    text-align: center;
    margin-top: 1rem;
    padding: 1rem 0 1rem 0;
    font-size: 1rem;
    color: white;
    font-style: italic;
}

#teteje {
    position: sticky;
    top: 0px;
}